{% load i18n %}
<html lang="en-us" >
    <head>
        {% if form.job_id.value != None %}
            <title>Change measurement</title>
        {% else %}
            <title>Add measurement</title>
        {% endif %}
        <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
        <link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" />
        <link rel="stylesheet" type="text/css" href="/static/admin/css/widgets.css" />

        <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
        <script type="text/javascript" src="/static/admin/js/core.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <meta charset="utf-8">

        <meta name="robots" content="NONE,NOARCHIVE" />
    </head>
    <body>
        <div class="container">
            <!-- Header -->
            <div id="header">
                <div id="branding">
                    <h1 id="site-name">Lassaress Web Server</h1>
                </div>
                <div id="user-tools">
                    Welcome,
                    <strong>{{ user.username }}</strong>.
                    <a href="{% url 'account_logout' %}">Log out</a>
                </div>
            </div>
            <!-- END Header -->
    
            <div class="breadcrumbs">
                <a href="{% url "home" %}">Home</a>
                &rsaquo; <a href="{% url "meas_web:index" %}">Measweb</a>
                &rsaquo; <a href="{% url "meas_web:measurement_list" %}">Measurements</a>
                &rsaquo; 
                {% if form.job_id.value != None %}
                    {{ form.job_id.value }}
                {% else %}
                    Add measurement
                {% endif %}
            </div>

            <!-- Content -->
            <div id="content" class="colM">
                {% if form.job_id.value != None %}
                    <h1>Change measurement</h1>
                {% else %}
                    <h1>Add measurement</h1>
                {% endif %}
                <div id="content-main">
                    <form action="" method="post" id="measurement_form" novalidate>{% csrf_token %}
                        <table>
                            {{ form.media }}
                            {{ form.as_p }}
                        </table>
                        <div class="submit-row">
                            <input type="submit" value="Save" class="default" name="_save">
                            <input type="submit" value="Delete" class="default" name="delete">
                        </div>
                    </form>
                </div>
            </div>                               
        </div>
      </body>
</html>
