<html lang="en-us" >
    <head>
        <title>Are you sure?</title>
        <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
    </head>
    <body>
        <!-- Container -->
        <div id="container">
    
            <!-- Header -->
            <div id="header">
                <div id="branding">
                    <h1 id="site-name">Lassaress Web Server</h1>
                </div>
                <div id="user-tools">
                    Welcome,
                    <strong>{{ user.username }}</strong>.
                    <a href="{% url 'account_logout' %}">Log out</a>
                </div>
            </div>
            <!-- END Header -->
    
            <div class="breadcrumbs">
                <a href="{% url "home" %}">Home</a>
                &rsaquo; <a href="{% url "measWeb:index" %}">Measweb</a>
                &rsaquo; <a href="{% url "measWeb:measurement_list" %}">Measurements</a>
                &rsaquo; Delete measurement
            </div>

            <!-- Content -->
            <div id="content" class="colM">
                <h1>Are you sure?</h1>
                <p>Are you sure you want to delete the measurement "{{ object }}"? 
      
                <form method="post" class='inline'>{% csrf_token %}
                    <div>
                        <a href="{% url "measWeb:measurement_list" %}" class="button cancel-link">Cancel</a>
                        <input type="submit" value="Submit" />
                    </div>
                </form>
            </div>
            <div id="footer"></div>
        </div>
    </body>
</html>
