Django==2.2.4
djangorestframework==3.9.1
djangorestframework-gis==0.14.0
django-filter==2.2
djangorestframework-filters>=0.11.1.dev0
djangorestframework-queryfields
djangorestframework-jwt
django-cors-headers
django-map-widgets
asn1crypto==0.24.0
cffi==1.11.2
cryptography==2.3
ecdsa==0.13
future==0.16.0
idna==2.6
pycparser==2.18
pycrypto==2.6.1
PyJWT==1.5.3
python-jose==1.4.0
markdown
packaging
six
psycopg2-binary==2.7.5
python-dotenv
pytz==2018.5
uwsgi==2.0.18
django-allauth==0.38.0
