{% load socialaccount %}
<!DOCTYPE html>
<html lang="en-us" >
    <head>
        <title>Log in</title>
        <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
        <link rel="stylesheet" type="text/css" href="/static/admin/css/login.css">
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">
        <meta name="robots" content="NONE,NOARCHIVE">
    </head>


    <body class=" login" data-admin-utc-offset="0">
        <!-- Container -->
        <div id="container">
            <!-- Header -->
            <div id="header">
                <div id="branding">
                    <h1 id="site-name">Lassaress Web Server</h1>
                </div>
            </div>
            <!-- END Header -->
            <!-- Content -->
            <div id="content" class="colM">
                <div id="content-main">
                    {% if user.is_authenticated %}
                        <p>Welcome, <strong>{{ user.username }}</strong>.</p>
                        <div>
                            <br>    
                            <br>    
                            <p> Visit the Measurement Portal <a href="{% url "meas_web:index" %}">Measweb</a></p>
                            <br>    
                            <br>    
                        </div>
                        <p><a href="{% url 'account_logout' %}">Log out</a>
                    {% else %}
                        <p><a href="{% provider_login_url 'google' %}">Log In with Gmail</a></p>
                    {% endif %}
                </div>
                <br class="clear">
            </div>
            <!-- END Content -->
            <div id="footer"></div>
        </div>
        <!-- END Container -->
    </body>
</html>

